@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply 
          scroll-smooth 
    }
}

@layer components {
    .heroButton{
        @apply 
            px-6 
            py-2
            mx-1 
            border 
            border-gray-600 
            rounded-full 
            uppercase 
            text-sm 
            tracking-widest
            text-gray-500
            transition-all
            hover:border-amber-500
            hover:text-amber-500
    }

    .contactInput {
        @apply
            outline-none
            bg-slate-400/10
            rounded-sm
            border-b
            px-4
            sm:px-5
            2xl:px-6
            py-2
            sm:py-3
            2xl:py-4
            border-gray-600
            text-gray-500
            placeholder-gray-500
            transition-all
            focus:border-amber-500
            focus:text-amber-500
            hover:border-amber-500

    }

    .section-container{
        @apply
            h-full 
            w-full 
            flex 
            flex-col
            md:flex-row  
            justify-center 
            px-0
            mx-auto 
    }
}